[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.3"
ghapi = "*"
gunicorn = "*"
ghastoolkit = "*"
"github3.py" = "*"
python-dotenv = "*"

[dev-packages]
black = "*"

[scripts]
main = "python -m ghasreview --debug"
fmt = "python -m black ."
lint = "python -m black --check ."
# Run flask app
watch = "gunicorn ghasreview.app:app --reload --bind 0.0.0.0:9000"
develop = "gunicorn ghasreview.app:app --bind 0.0.0.0:9000 --log-level=debug --workers=4"
production = "gunicorn  ghasreview.app:app --config gunicorn_config.py"
# Tests
test-e2e = "python -m ghasreview --test-mode"
