name: "Markdown Lint"

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint:
    permissions:
      contents: read
      pull-requests: read
    uses: advanced-security/reusable-workflows/.github/workflows/markdown-lint.yml@main
    secrets: inherit
